<div>
  <div class="row">
    <div class="col-lg-12 text-center container">
      <h1 class="margin-bottom">Album Songs</h1>
      <h4><label>Album:</label> {{mediaSearchResults[0].collectionName}}</h4>
      <h5><label>Artist:</label> <span class="artist"><a ui-sref="search({term: mediaSearchResults[0].artistName})">{{mediaSearchResults[0].artistName}}</a></span></h5>
      <div><button ui-sref="search" class="btn btn-primary">Main Page</button></div>
      <hr>
      <div class="col-lg-6 pull-center border" ng-repeat="media in mediaSearchResults | orderBy:sortProp">
          <div class="row margin-top margin-bottom text-left">
            <div class="margin-left margin-right preview">
              <div class="video" ng-click="playVideo(media)">
                <a ng-href="{{media.previewUrl}}" target="_blank"><img height="100" width="100" ng-src="{{media.artworkUrl60}}" /></a>
              </div>
            </div>
            <div class="content">
              <div class="title">{{media.trackName || "N/A"}}</div>
            </div>
          </div>
      </div>
      <div class="popupPlayer" ng-show="showVideo">
        <div>
          <button ng-click="closeVideo()" class="pure-button pure-button-xsmall pull-right"><i class="icon-remove"></i></button>
          <div>{{title}}</div>
          <small>by <cite>{{artist}}</cite></small>
        </div>
        <videoplayer src="{{previewUrl}}" width="320" height="240" controls>
      </div>
    </div>
  </div>
</div>